/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Raleway:wght@300;400;500;700;800&display=swap');

/*font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;*/

/***** Default CSS *****/
html{
	font-size:62.5%; /*10px*/	
}
body{
	margin:0;
	font-family:'Raleway', sans-serif;
	font-size:14px;
	font-size:14px;
	font-size:1.4rem;
}
h1,h2,h3,h4,h5,h6,p,ul{
	margin:0;
}
h1{
	font-size:50px;
	font-size:50px;
	font-size:5rem;
	font-weight:800;
}
h3{
	font-size:35px;
	font-size:35px;
	font-size:3.5rem;
	font-weight:500;
}

ul{
	padding:0;
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	display:block;
}
.container{
	max-width:1200px;
	width:100%;
	margin:auto;
}
.btn1{
	background:#998675;
	border-radius:0.3rem;
	box-shadow:0rem 0.5rem 0rem #736357;
	padding:16px 35px;
	padding:16px 35px;
	padding:1.6rem 3.5rem;
	color:white;
	text-transform:uppercase;
	font-weight:800;
	-webkit-transition:0.5s;
	transition:0.5s;
}
.btn1:hover{
	background:#736357;
}

.section-padding{
	padding:80px 0;
}
.p{
	padding:0;
}
.pb{
	padding-bottom:0;
}
.pt{
	padding-top:0;
}

/**section title**/
.section-title{
	text-align:center;
}
.section-title h2{
	font-size:30px;
	font-size:30px;
	font-size:3rem;
	font-weight:600;
	color:#555555;
	padding-bottom:20px;
	padding-bottom:20px;
	padding-bottom:2rem;
}
.section-title p{
	font-size:16px;
	font-size:16px;
	font-size:1.6rem;
	color:#8c8c8c;
	max-width:770px;
	max-width:770px;
	max-width:77rem;
	margin:auto;
	padding-bottom:20px;
	padding-bottom:20px;
	padding-bottom:2rem;
}

/**header area style**/
.header-area{
	background:url('../images/banner-bg.jpg') no-repeat scroll center center / cover;
	position:relative;	
}
.header-top{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}
.logo{
	padding:40px 20px;
	padding:40px 20px;
	padding:4rem 2rem;
}
.header-top-right{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	-webkit-box-pack:end;
	    -ms-flex-pack:end;
	        justify-content:flex-end;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}

.menu ul{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}
.menu ul li a{
	color:white;
	font-weight:500;
	font-family: 'Montserrat', sans-serif;
	padding:0 15px;
	padding:0 15px;
	padding:0 1.5rem;
	-webkit-transition:0.5s;
	transition:0.5s;
}
.menu ul li a:hover,
.menu ul li a.active{
	color:#cdb09a;
}
.menu-icons{
	padding-left:15px;
	padding-left:15px;
	padding-left:1.5rem;
}
.menu-icons i{
	color:white;
	padding-right:20px;
	padding-right:20px;
	padding-right:2rem;
	-webkit-transition:0.5s;
	transition:0.5s;
	font-size:18px;
	font-size:18px;
	font-size:1.8rem;
}
.menu-icons i:hover{
	color:#cdb09a;
}

/**990px menubar**/
.menu-bar{
	display:none;	
}
.menu-bar i{
	border:2px solid #FFF;
	font-size:22px !important;
	font-size:2.2rem !important;
	padding:2px 5px;
	padding:0.2rem .5rem;
	box-sizing:border-box;
	border-radius:3px;
}
.menu-bar i:hover{
	background: #998675;
	color: #FFF !important;
}
/*banner area*/
.banner-content{
	padding:150px 0px 230px 0px;
	color:white;
	text-align:center;
}
.banner-content h1{
	padding-top:5px;
	padding-bottom:15px;
}

.banner-content p{
	max-width:580px;
	margin:auto;
	font-size:16px;
	font-size:16px;
	font-size:1.6rem;
}
.banner-content a.btn1 {
    margin-top: 50px;
    display: inline-block;
}
.next-prev-btn a:first-child{
	position:absolute;
	top:50%;
	left:50px;
	-webkit-transform:translateY(-50%);
	        transform:translateY(-50%);
}
.next-prev-btn a:last-child{
	position:absolute;
	top:50%;
	right:50px;
	-webkit-transform:translateY(-50%);
	        transform:translateY(-50%);
}
.dots{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}
.dots span{
	height:10px;
	height:10px;
	height:1rem;
	width:10px;
	width:10px;
	width:1rem;
	border:2px solid white;
	border-radius:50%;
	margin:0px 5px;
	margin:0px 5px;
	margin:0rem 0.5rem;
	margin-bottom:15px;
	-webkit-transition:0.5s;
	transition:0.5s;
}
.dots span.active{
	background:#949496;
}
.dots span:hover{
	background:#949496;
}
/**service area**/
.single-service{
	position:relative;
	text-align: center;
	padding-bottom:30px;
	padding-bottom:30px;
	padding-bottom:3rem;
	cursor:pointer;
}
.single-service i{
	font-size:35px;
	font-size:35px;
	font-size:3.5rem;
	color:#555555;
	-webkit-transition:1s;
	transition:1s;
}
.single-service h3 {
	margin:20px 0px 15px 0px;
	margin:20px 0px 15px 0px;
	margin:2rem 0rem 1.5rem 0rem;
	font-size:22px;
	font-size:22px;
	font-size:2.2rem;
}
.single-service h3 a{
	color:#555555;
	-webkit-transition:1s;
	transition:1s;
}

.single-service:after{
	content:"";
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	height:4px;
	height:4px;
	height:.4rem;
	width:70px;
	width:70px;
	width:7rem;
	background:#312C2A;
	-webkit-transition:1s;
	transition:1s;
}
.single-service:hover:after{
	background:#c7b299;
}
.single-service:hover i,
.single-service:hover a{
	color: #c7b299;
}
/**idea area**/
.idea-area{
	background:#fbfaf8;
}
.idea-img img{
	max-width:100%;
	height:auto;
}
.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin-top: 67px;
	padding: 0 .5rem;
	background: #D6D6D6;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity .2s ease;
	border-radius: 30px;
}
/**hero area**/
.hero-area{
	padding:50px 0;
	background:linear-gradient(to right, #231C1A,#36261F,#493226);
	color: #FFF;
	
}
.hero{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}
.hero-content h3{
	color:white;
	font-size:28px;
	font-size:28px;
	font-size:2.8rem;
	margin-bottom:5px;
	margin-bottom:5px;
	margin-bottom:.5rem;
}
.hero-content h3 span{
	color:#c7b299;
}
.hero-content{
	color:#615855;
	font-size:18px;
	font-size:18px;
	font-size:1.8rem;
}
/**project area**/
.project-tabs ul{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
}
.project-tabs ul li{
	margin:0 10px;
	margin:0 10px;
	margin:0 1rem;
	font-weight:500;
	border:2px solid #e4e4e4;
	border:2px solid #e4e4e4;
	border:.2rem solid #e4e4e4;
	padding:10px 20px;
	padding:10px 20px;
	padding:1rem 2rem;
	color:#8c8c8c;
	border-radius:.3rem;
	-webkit-transition:1s;
	transition:1s;
	cursor: pointer;
}
.project-tabs ul li.active,
.project-tabs ul li:hover{
	color:#FFF;
	background:#998675;
	border:2px solid #998675;
	border:2px solid #998675;
	border:.2rem solid #998675;
}
.project-items{
	display:-ms-grid;
	display:grid;
	-ms-grid-columns:(1fr)[3];
	    grid-template-columns:repeat(3,1fr);
	grid-gap:3rem;
	margin:35px;
	margin:35px;
	margin:3.5rem;
}
.project-img{
	height:240px;
	position:relative;
	overflow:hidden;
}
.project-img img{
	width:100%;
	height:100%;
	-o-object-fit:cover;
	   object-fit:cover;
}
.project-overly{
	position:absolute;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	background:rgba(0,0,0,.6);
	height:100%;
	width:100%;
	left:0;
	top:-100%;
	visibility:hidden;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition:1s;
	transition:1s;
}
.project-overly a{
	color:#FFF;
	display:inline-block;
	font-size:25px;
	padding:0 12px;
}
.project-overly a:hover{
	color:#c7b299;
}
.project-content{
	padding:30px;
	padding:30px;
	padding:3rem;
	background:#fbfaf8;
	box-sizing:border-box;
	-webkit-transition:1s;
	transition:1s;
}
.project-content h3 a{
	color:#c7b299;
	font-size:23px;
	font-size:23px;
	font-size:2.3rem;
	font-weight:500;
	margin-bottom:7px;
	margin-bottom:7px;
	margin-bottom: 0.7rem;
}
.project-content a{
	color:#d1d1d1;
}
.project-content a:hover{
	color:#c7b299;
}
.single-project:hover .project-overly{
	top:0;
	visibility:visible;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.single-project:hover .project-content{
	background:#362f2d;
}
.single-project:hover .project-content h3 a{
	color:#FFF;
}
.single-project:hover .project-content a{
	color:#c7b299;
}
/**button**/
.text-center{
	text-align:center;
}
/**video area**/
.video-area{
	background:url('../project-img/video.jpg')no-repeat scroll center center / cover;
	padding:200px 0;
	padding:200px 0;
	padding:20rem 0;
}
.video-area .section-title h2,
.video-area .section-title p{
	color:#FFF;
}
.video-area .section-title h2{
	font-weight:500;
}
.video-area .section-title p{
	max-width:550px;
	max-width:550px;
	max-width:55rem;
}
.video a i{
	color:#FFF;
	font-size:30px;
	font-size:30px;
	font-size:3rem;
	line-height:50px;
	line-height:50px;
	line-height:5rem;
	-webkit-transition:1s;
	transition:1s;
}
.video a i:hover{
	color: #998675;
}
/**excellent-area**/
.excellent-area{
	background:#fbfaf8;
}
.excellent{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}
.excellent-img{
	max-width:45%;
}
.excellent-img img{
	height:500px;
	width:auto;	
}
.excellent-content{
	max-width:55%;
}
.excellent-content h3{
	color:#555555;
	font-size:30px;
	font-size:30px;
	font-size:3rem;
	font-weight:600;
}
.excellent-content p{
	color:#8c8c8c;
	font-size:16px;
	font-size:16px;
	font-size:1.6rem;
	margin-top:30px;
	margin-top:30px;
	margin-top:3rem;
	margin-bottom:25px;
	margin-bottom:25px;
	margin-bottom:2.5rem;
	line-height:25px;
	line-height:25px;
	line-height:2.5rem;
}
.excellent-content ul li{
	color:#8c8c8c;
	font-size:16px;
	font-size:16px;
	font-size:1.6rem;
	line-height:30px;
	line-height:30px;
	line-height:3rem;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}
.excellent-content ul li i {
    color: #c7b299;
    margin-left: 30px;
    margin-left:30px;
    margin-left: 3rem;
    font-size: 18px;
    font-size:18px;
    font-size: 1.8rem;
    margin-top:6px;
    margin-top: 0.6rem;
    margin-right:10px;
    margin-right: 1rem;
}
/**fun fact area**/
.fun-fact-area{
	background:linear-gradient(to right, #231C1A,#36261F,#493226);
}
.fun-fact{
	display:-ms-grid;
	display:grid;
	-ms-grid-columns:(1fr)[5];
	    grid-template-columns:repeat(5,1fr);
	text-align:center;
}
.single-fun-fact i{
	color:#c7b299;
	font-size:40px;
	font-size:40px;
	font-size:4rem;
}
.single-fun-fact h4{
	color:#FFF;
	font-size:40px;
	font-size:40px;
	font-size:4rem;
	font-family: 'Montserrat', sans-serif;
	font-weight:300;
	padding-top:20px;
	padding-top:20px;
	padding-top:2rem;
	padding-bottom:13px;
	padding-bottom:13px;
	padding-bottom:1.3rem;
}
.single-fun-fact p{
	color:#c7b299;
	text-transform:uppercase;
}
.single-fun-fact{
	position:relative;
}
.single-fun-fact:after{
	content:"";
	position:absolute;
	width:35px;
	height:2px;
	background:#FFF;
	bottom:-20px;
	bottom:-20px;
	bottom:-2rem;
	left:0;
	right:0;
	margin:auto;
}
/**recent post area**/
.post{
	margin:10px 0 30px 0;
	margin:10px 0 30px 0;
	margin:1rem 0 3rem 0;
}
.post-img{
	height:220px;
	position:relative;
	overflow:hidden;
}
.post-img img{
	width:100%;
	height:100%;
	-o-object-fit:cover;
	   object-fit:cover;
}
.post-img p{
	position:absolute;
	left:20px;
	left:20px;
	left:2rem;
	top:20px;
	top:20px;
	top:2rem;
	background:#363636;
	color:#FFF;
	font-size:22px;
	font-size:22px;
	font-size:2.2rem;
	font-family:'Montserrat', sans-serif;
	text-align:center;
	border-radius:0.5rem;
	z-index:1;
}
.post-img p span{
	display:block;
	background: #252525;
	font-family: 'Roboto', sans-serif;
	font-size:13px;
	font-size:13px;
	font-size:1.3rem;
	margin-top:5px;
	margin-top:5px;
	margin-top:.5rem;
	padding:5px 10px;
	border-radius:0 0 5px 5px;
	
}
.post-content{
	padding:20px;
	padding:20px;
	padding:2rem;
	box-sizing:border-box;
	background:#FFF;
	-webkit-transition:1s;
	transition:1s;
}
.post-content h3 a{
	color:#555555;
	font-size:20px;
	font-size:20px;
	font-size:2rem;
	font-weight:500;
}
.post-content p{
	color:#8c8c8c;
	margin-top:10px;
	margin-top:10px;
	margin-top:1rem;
	margin-bottom:14px;
	margin-bottom:14px;
	margin-bottom:1.4rem;
	line-height:25px;
	line-height:25px;
	line-height:2.5rem;
}
.post-content a{
	color:#c7b299;
}
.post-content a i{
	padding-left:5px;
	padding-left:5px;
	padding-left:.5rem;
}
.single-post{
	cursor:pointer;
}
.post-img:after{
	content:"";
	position:absolute;
	top:-100%;
	left:0;
	height:100%;
	width:100%;
	background:rgba(0,0,0,.6);
	visibility:hidden;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition:1s;
	transition:1s;
}
.single-post:hover .post-img:after{
	top:0;
	visibility:visible;
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.single-post:hover .post-content{
	background:#362f2d;
}
.single-post:hover .post-content a{
	color:#c7b299;
}
.single-post:hover .post-content p{
	color:#FFF;
}
.single-post:hover .post-img p{
	background: #c7b299;
}
.single-post:hover .post-img p span{
	background: #a48d72;
}


.owl-carousel .owl-nav button.owl-next{
	margin-left: 2rem;
}
.owl-carousel .owl-nav button.owl-prev{
	margin-right: 2rem;
}
.owl-carousel .owl-nav button.owl-next span, 
.owl-carousel .owl-nav button.owl-prev span{
	color: #FFF;
	background: #333333;
	position: absolute;
	height: 2.5rem;
	width: 2.5rem;
	font-size: 3rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/**partner area**/
.partner-area{
	background:url('../partner-img/partnerbg.png') no-repeat scroll center center / cover;
	padding:130px 0;
	padding:130px 0;
	padding:13rem 0;
	background-attachment: fixed;
}
.partner{
	display:-ms-grid;
	display:grid;
	-ms-grid-columns:(1fr)[4];
	    grid-template-columns:repeat(4, 1fr);
	grid-column-gap:2rem;
	text-align:center;
	-ms-grid-row-align:center;
	    align-items:center;
	padding:0 10px;
	padding:0 10px;
	padding:0 1rem;
}
.single-partner img{
	max-width:215px;
	margin:auto;
	height:auto;
}
/**footer top area**/
.footer-top-area{
	background: #191919;
	color: #FFF;
}
.footer-top{
	display:-ms-grid;
	display:grid;
	-ms-grid-columns:(1fr)[4];
	    grid-template-columns:repeat(4, 1fr);
	grid-column-gap:3rem;
}
.single-footer h4{
	font-size:24px;
	font-size:24px;
	font-size:2.4rem;
	margin-bottom:25px;
	margin-bottom:25px;
	margin-bottom:2.5rem;
}
.single-footer p{
	color:#555555;
	line-height:25px;
	line-height:25px;
	line-height:2.5rem;
}
.footer-logo{
	display:block;
	margin-bottom:25px;
	margin-bottom:25px;
	margin-bottom:2.5rem;
	margin-top:-25px;
	margin-top:-25px;
	margin-top:-2.5rem;
}
.read-more-btn{
	color:#FFF;
	margin-top:20px;
	margin-top:20px;
	margin-top:2rem;
	display:inline-block;
}
.read-more-btn i{
	margin-left:5px;
	margin-left:5px;
	margin-left:0.5rem;
}
.read-more-btn:hover{
	color:#c7b299;
}
.single-f-post{
	border-bottom:1px solid #dddddd52;
	padding:15px 0;
	padding:15px 0;
	padding:1.5rem 0;
}
.single-f-post:first-child{
	padding-top:0;
}
.single-f-post:last-child{
	border-bottom:none;
}
.single-f-post p.date,.single-f-post span{
	color:#363636;
	font-size:12px;
	font-size:12px;
	font-size:1.2rem;
}
.single-f-post p a{
	color:#555555;
}
.single-f-post:hover p a{
	color:#c7b299;
}
.single-f-post:hover p.date{
	color:#FFF;
}
.single-f-post span{
	margin-top:5px;
	margin-top:5px;
	margin-top:.5rem;
	display:block;
}
.single-f-post .link{
	color:#1866D7;
}
.single-f-post .link2{
	color:#959595;
}
.footer-dribble{
	display:-ms-grid;
	display:grid;
	-ms-grid-columns:(1fr)[2];
	    grid-template-columns:repeat(2, 1fr);
	grid-gap:2rem;
}
.footer-dribble a img{
	max-width:100%;
	width:100%;
	height:120px;
	-o-object-fit:cover;
	   object-fit:cover;
}
/**copyright-footer**/
.copyright-footer-area{
	background:#111111;
	padding:40px 0;
	padding:40px 0;
	padding:4rem 0;
}
.copyright-footer{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	    flex-wrap:wrap;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}
.footer-content ul{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}
.footer-content ul li{
	color:#555555;
	font-size:13px;
	font-size:13px;
	font-size:1.3rem;
}
.footer-content ul li a{
	color:#959595;
	display:inline-block;
	margin:0 10px;
	margin:0 10px;
	margin:0 1rem;
}
.footer-content ul li a:hover{
	color:#c7b299;
}